.photo-column {
    background-color: burlywood;
    height: 900px;
}

.photo-sm {
    width: 100%;
    height: 380px;
    background-color: indianred;
    margin-top: 20px;
    overflow: hidden;
}

.photo-bg {
    width: 100%;
    height: 480px;
    background-color: lightcoral;
    margin-top: 20px;
    overflow: hidden;
}

#photo-gallery {
    background-color: darkkhaki;
    height: 900px;
}

@media (min-width: 575.98px) {
    .video {
        margin-top: 20px;
        width: 100%;
        height: 400px;
    }
}

@media (min-width: 767.98px) {
    .video {
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }
}

@media (min-width: 991.98px) {
    .video {
        margin-top: 20px;
        width: 100%;
        height: 800px;
    }
}